@use "../../scss/" as *;

.footer {
  position: relative;
  padding: 6rem 2rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    max-width: 1000px;

    &--logo {
      width: 100%;
      @include flex(center, center);
      margin-bottom: 5rem;

      @include mobile {
      }
    }

    &--menus {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      .menu {
        @include flex(flex-start, center);
        flex-direction: column;

        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 600;

        & > * ~ * {
          margin-top: 1rem;
        }
      }
    }
  }
}
